body {
  background-color: hsl(214, 47%, 23%);
  background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: "Barlow Semi Condensed", sans-serif;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.score {
  display: flex;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  margin: auto;
  width: 50%;
  margin-top: 4%;
  padding: 1%;
}
.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.choice p {
  color: white;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  margin-left: 5%;
  line-height: 25px;
}
.point {
  background-color: white;
  border-radius: 10px;
  padding: 1% 5%;
  margin-left: auto;
}
.point h4 {
  font-size: 14px;
  color: hsl(229, 64%, 46%);
  margin: 0;
}
.point p {
  color: hsl(229, 25%, 31%);
  margin: 0;
  font-size: 40px;
}
.button {
  height: 150px;
  width: 150px;
  border: double 1em transparent;
  border-radius: 90%;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.paper {
  cursor: pointer;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.scissors {
  cursor: pointer;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.rock {
  cursor: pointer;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}
.center {
  height: 400px;
  background-image: url(../images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

.line {
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8%;
}
.linetwo {
  margin-top: 20%;
}
.rules {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.rules button {
  background-color: transparent;
  margin-left: auto;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
}
.modal {
  display: flex;
  top: 50%;
  left: 50%;
  position: fixed;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-content {
  padding: 20px 24px;
  background-color: white;
  border: transparent;
  border-radius: 10px;
  margin: auto;
}
.modal h1 {
  color: hsl(229, 25%, 31%);
  margin: 0;
  font-size: 24px;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-img {
  margin-top: 17px;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.vs {
  display: none;
}

.fight {
  font-size: 24px;
  padding-top: 45px;
  color: white;
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.choice-fight img {
  width: 80px;
  height: 80px;
}
.choice-fight {
  height: 90px;
  width: 90px;
  margin: auto;
  text-align: center;
  background-color: white;
  border: transparent;
  border-radius: 90%;
  padding: 30px;
}
.player {
  text-align: center;
  grid-column-start: 1;
}
.result {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column-start: 2;
}
.result p {
  font-size: 40px;
  margin: 20px;
}
.result button {
  color: hsl(229, 25%, 31%);
  font-weight: bold;
  background-color: white;
  padding: 10px 30px;
  border: transparent;
  border-radius: 5px;
}
.computer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 2; /*2 to 3 */
}
.border {
  width: 160px;
  height: 160px;
  margin: auto;
  padding: 20px;
  padding-bottom: 15px;
  border: transparent;
  border-radius: 90%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.winner {
  box-shadow: 0px 0px 10px 60px rgba(151, 155, 170, 0.3),
    0px 0px 10px 120px rgba(151, 155, 170, 0.2),
    0px 0px 10px 180px rgba(151, 155, 170, 0.1);
}
.yellow {
  background-image: radial-gradient(
    circle at top left,
    hsl(39, 89%, 49%),
    hsl(40, 84%, 53%)
  );
}
.red {
  background-image: radial-gradient(
    circle at top left,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
}
.blue {
  background-image: radial-gradient(
    circle at top left,
    hsl(230, 89%, 62%),
    hsl(230, 89%, 65%)
  );
}
.waiting {
  background-color: rgba(41, 47, 71, 0.5);
  border: transparent;
  border-radius: 90%;
  margin: auto;
  height: 160px;
  width: 160px;
}

.disable {
  display: none !important;
}
.enable {
  display: block;
}
